.Card {
  background-color: #555;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: 30%;
  height: 300px;
  box-sizing: border-box;
  margin: 10px;
  transition: 0.5s;
  color: #fff;
  display: inline-flex;
  background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.Card:hover {
  cursor: pointer;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.Content {
  padding: 10px;
  align-self: flex-end;
  text-align: left;
}

.Content h1,
.Content h4 {
  margin: 0;
}