.Home {
  background-color: #11B5B5;;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.TealBackground {
  background-color: #0D8484;
  height: 400px;
}

.YellowBackground {
  background-color: #AB8F27;
  height: 400px;
}

.BlueBackground {
  background-color: #26416D;
  height: 400px;
}

.PinkBackground {
  background-color: #A6004B;
  height: 400px;
}

.OrangeBackground {
  background-color: #B7392D;
  height: 400px;
}
