.BoxGlow {
  background-color: #1a1a1a;
  height: 200px;
  width: 200px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 20px 60px 2px #00f7ff;
  -moz-box-shadow: 0px 20px 60px 2px #00f7ff;
  box-shadow: 0px 20px 60px 2px #00f7ff;
  color: #00f7ff;
  animation-name: boxglow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes boxglow {
  0% {
    -webkit-box-shadow: 0px 20px 60px 2px #00f7ff;
    -moz-box-shadow: 0px 20px 60px 2px #00f7ff;
    box-shadow: 0px 20px 60px 2px #00f7ff;
    color: #00f7ff;
  }
  25% {
    -webkit-box-shadow: 0px 20px 60px 2px #00ff00;
    -moz-box-shadow: 0px 20px 60px 2px #00ff00;
    box-shadow: 0px 20px 60px 2px #00ff00;
    color: #00ff00;
  }
  50% {
    -webkit-box-shadow: 0px 20px 60px 2px #ae00ff;
    -moz-box-shadow: 0px 20px 60px 2px #ae00ff;
    box-shadow: 0px 20px 60px 2px #ae00ff;
    color: #ae00ff;
  }
  100% {
    -webkit-box-shadow: 0px 20px 60px 2px #00f7ff;
    -moz-box-shadow: 0px 20px 60px 2px #00f7ff;
    box-shadow: 0px 20px 60px 2px #00f7ff;
    color: #00f7ff;
  }
}


